.active {
    color: #f2fc89;
    position: relative;
}

.active::after{
    content: '';
    position: absolute;
    top: 0vh;
    width: 100%;
    left: 0;
    height: 2rem;
    background-color: #f2fc89;
}